*{
  background: rgba(44,44,44);
}

.main{
  background: none;
  height: 800px;
  width: 100%;
}

.shiv-ling{
  background: #000;
  height: 20px;
  width: 20px;
  filter: drop-shadow(30px -20px 40px #4444dd);
  transform: translate(-50%, -50%);
  position: relative;
  top: 315px;
  left: 50%;
  border-radius: 150px 150px 30px 30px ; 
  border-top: 120px solid #000;
  border-bottom: 120px solid #000;
  border-left: 100px solid #000;
  border-right: 100px solid #000;
}

.one{
  background: silver;
  height: 10px;
  width: 100px;
  border-radius: 10px ;
  position: relative;
  left: -200%;
}


.two{
  background: silver;
  height: 10px;
  width: 100px;
  border-radius: 10px ;
  position: relative;
  left: -200%;
  top: 17%;
}

.three{
  background: silver;
  height: 10px;
  width: 100px;
  border-radius: 10px ;
  position: relative;
  left: -200%;
  top: -65%;
  z-index:-1;
}

.red-dot{
  background: red;
  height: 10px;
  width: 10px;
  position: relative;
  z-index:1;
  top: -60%;
  border-radius: 10px;
  border: 5px solid darkred;
}


.oval-stand{
  background: #000;
  height: 50px;
  width: 400px;
  transform: translate(-50%, -50%);
  position: relative;
  box-shadow: 5px 70px #000;
  border-radius: 40%;
  z-index: 1;
  top: 24%;
  left:50%;
}

.block-fill{
  background: #000;
  height: 80px;
  width: 400px;
  position: relative;
  top: 10%;
  left:0%;
  border-radius: 30px 30px 150px 150px;
  border-left: 5px solid rgba(44, 44,44, 0.8);
  border-right: 5px solid rgba(44, 44,44, 0.8);
  border-bottom: 5px solid rgba(44, 44,44, 0.8);
  border-top: 5px solid rgba(44, 44,44, 0.8);
}


font-face{
font-family: kruti dev;
src: url("assets/text-font/K010.TTF") format("truetype");
}
p.mahamantra{
font-family: kruti dev;
font-size: 25px;
 position: relative;
  left: 0vh;
  top: 20px;
}

p.mahamantra{
  text-align: center;
  color: silver;
  font-weight: bolder;
  
}
